* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(6, 41, 45);
}

.contenido-portada {
    width: 100%;
    height: 100vh;
    padding: 0%;
    display: flex;
    position: relative;
}

.contenido-portada img {
    width: 50%;
    height: 100%;
    padding: 0%;
}

.contenido-titulos {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    padding-right: 5%;
    padding-bottom: 5%;
    color: white;
}

.contenido-titulos h1 {
    font-size: 7rem;
    transition: 600ms;
    margin-bottom: 10px;
    font-family: 'Bebas Neue', sans-serif;
font-family: 'Oswald', sans-serif;
}

.contenido-titulos h2{
    font-size: 2rem;
    transition: 600ms;
    font-family: 'Agdasima', sans-serif;
}

.contenido-titulos h3{
    font-size: 1.5rem;
    transition: 600ms;
    font-family: 'Agdasima', sans-serif;
}

@media (max-width: 1200px ) { 
    .contenido-titulos h1{
        font-size: 5rem;
    }
    .contenido-titulos h2{
        font-size: 1.5rem;
    }
    .contenido-titulos h3{
        font-size: 1.2rem;
    }
}

@media (max-width: 900px ) { 
    .contenido-titulos h1{
        font-size: 4rem;
    }
    .contenido-titulos h2{
        font-size: 1.2rem;
    }
    .contenido-titulos h3{
        font-size: 1rem;
    }
}


/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */



.parallax {
    width: 100%;
    background: url("../imagenes/parallax.jpg") fixed;
    /* max-height: 100%; */
    height: 80vh;
    position: relative;
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.presentacion-imagen{
    width: 100%;
    display: flex;
}

.presentacion-imagen .contenido-sobremi{
    width: 50%;
    display: flex;
    align-items: center;
    padding: 0 5%;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    /* border-bottom: 1px black solid; */
}

.presentacion-imagen .contenedor-imagen{
    width: 50%;
    height: 400px;
}

.presentacion-imagen .contenedor-imagen img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}



/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */


.contenedor-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    width: 230px;
    height: 230px;
    margin: 30px 10px;
    gap: 10px;
}

.card img {
    width: 100%;
    height: 100%;
    border-radius: 15%;
    filter: grayscale(100%);
    transition: 500ms;
    box-shadow: -13px 13px 10px #7e7d7d60;
}

.card img:is(:hover, :focus) {
    filter: grayscale(0%);
    transform: scale(1.08);
    box-shadow: none;

}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */