* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: rgb(6, 41, 45); */
    
}

.contenido-portada {
    width: 100%;
    height: 100vh;
    padding: 0%;
    display: flex;
    position: relative;
    background-color: rgb(6, 41, 45);
}

.contenido-portada img {
    width: 50%;
    height: 100%;
    padding: 0%;
}

.contenido-titulos {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    padding-right: 5%;
    padding-bottom: 5%;
    color: white;
}

.contenido-titulos h1 {
    font-size: 7rem;
    transition: 600ms;
    margin-bottom: 10px;
    font-family: 'Bebas Neue', sans-serif;
font-family: 'Oswald', sans-serif;
}

.contenido-titulos h2{
    font-size: 2rem;
    transition: 600ms;
    font-family: 'Agdasima', sans-serif;
}

.contenido-titulos h3{
    font-size: 1.5rem;
    transition: 600ms;
    font-family: 'Agdasima', sans-serif;
}

@media (max-width: 1200px ) { 
    .contenido-titulos h1{
        font-size: 5rem;
    }
    .contenido-titulos h2{
        font-size: 1.5rem;
    }
    .contenido-titulos h3{
        font-size: 1.2rem;
    }
}

@media (max-width: 900px ) { 
    .contenido-titulos h1{
        font-size: 4rem;
    }
    .contenido-titulos h2{
        font-size: 1.2rem;
    }
    .contenido-titulos h3{
        font-size: 1rem;
    }
}


/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */



.parallax {
    width: 100%;
    background: url("../imagenes/parallax.jpg") fixed;
    /* max-height: 100%; */
    height: 80vh;
    position: relative;
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.presentacion-imagen{
    width: 100%;
    display: flex;
}

.presentacion-imagen .contenido-sobremi{
    width: 50%;
    display: flex;
    align-items: center;
    padding: 0 5%;
    color: black;
    font-size: 25px ;
    font-family: 'Agdasima', sans-serif;
    background: linear-gradient(90deg, rgba(248,248,248,1) 0%, rgba(131,131,132,1) 100%);
    /* border-bottom: 1px black solid; */
}

/* .presentacion-imagen .contenido-sobremi  p{
    background: linear-gradient(90deg, rgba(248,248,248,1) 0%, rgba(131,131,132,1) 100%);
} */
.presentacion-imagen .contenedor-imagen{
    width: 50%;
    height: 400px;
}

.presentacion-imagen .contenedor-imagen img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}



/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
aside{
    background-color: black;
}

.proyectos{
    width: 100%;
    height: 150px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    /* filter: grayscale(100%); */
}

.proyectos h1{
    font-family: 'Oswald', sans-serif;
    color: white;
    font-size: 100px;
    display: inline-block;
    position: relative;
}

.proyectos h1::after, .proyectos h1::before{
    content: "";
    width: 120px;
    height: 4px;
    position: absolute;
    background-color: white;
    top: 50%;
}

.proyectos h1::after{
    right: -130px;
}
.proyectos h1::before{
    left: -130px;
}

.contenedor-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    width: 300px;
    height: 300px;
    margin: 50px 40px;
    /* gap: 30px; */
}

.card img {
    width: 100%;
    height: 100%;
    border-radius: 15%;
    filter: grayscale(100%);
    transition: 500ms;
    box-shadow: -13px 13px 10px #cecece8e;
}

.card img:is(:hover, :focus) {
    filter: grayscale(0%);
    transform: scale(1.08);
    box-shadow: none;

}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */